* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  background-color: #11022e;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 20px;
  color: white;
  padding: 0 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 0;
}

.nav-links a:hover {
  color: #bbbbbb;
}

.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
    flex-direction: row; 
    justify-content: space-between; 
  }

  .logo {
    font-size: 24px; 
    margin-left: 0;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    display: none;
  }

  .nav-links li {
    margin: 10px 0;
    padding-right: 0;
  }

  .nav-links a {
    font-size: 16px;
    padding: 5px 0;
  }

  .menu-icon {
    font-size: 28px;
    color: white;
    cursor: pointer;
    display: block; 
  }

  .nav-links.active {
    display: flex; 
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 10px;
  }

  .logo {
    font-size: 20px;
  }

  .nav-links a {
    font-size: 14px;
  }
}
